target/
.DS_Store
.settings/*.prefs
.classpath
dump.rdb
src/main/webapp/webresources/css/edulastic/edulastic.css
/bin
src/main/webapp/webresources/javascript/instructorJS.js
src/main/webapp/webresources/javascript/lsLibraries.js
src/main/webapp/webresources/javascript/lsReports.js
src/main/webapp/webresources/javascript/lsSnapwiz.js
src/main/webapp/webresources/javascript/lsTextbook.js
src/main/webapp/webresources/javascript/lsWidgets.js
src/main/webapp/webresources/javascript/mghtestprep_all.js
.idea
dump.rdb
vind.iml
src/main/webapp/webresources/javascript/edulastic-prod
src/main/lsmobile/www/webresources/
src/main/lsmobile/platforms/ios/www/
src/main/lsmobile/platforms/ios/build/
src/main/lsmobile/platforms/ios/cordova/console.log
/nodepatches/node_modules
/nodepatches/npm-debug.log
/nodepatches/nn
/nodepatches/nn.sql
/jshint_error.log
/node_modules
